.heroSection{
    // background-image: url('/images/background/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 165px);
}

// .proImg{
//     background-image: url("../../public/images/background/programming.jpg");
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }