.heroSection{
    // background-image: url("../../public/images/background/square-texture.svg");
    background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
    background-size: auto, cover; /* First image uses default size, second covers */
    background-position: bottom left, center; /* Position for the first and second image */
    height: calc(100vh - 85px);
    @media screen and (max-width:768px) {
        height: 100%; padding: 80px 0 0;
        .contentBlock{
            padding-bottom: 50px;
        }
    }
    @media screen and (max-width:640px) {
        height: 100%; padding: 60px 0;
    }
}


// .proImg{
//     background-image: url("../../public/images/mine/mine1.jpg");
//     background-size: cover;
//     background-position: center;
// }

