.heroSection{
    background-image: url('/images/background/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    h1{
        // text-shadow: 0.02em 0.02em 0 Brown, 0 0 0.5em rgb(207, 130, 238);
    }
}

// .proImg{
//     background-image: url("../../public/images/background/programming.jpg");
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }