@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

// Section Styles 
.whychooseme-section{
  // background-image: url("../public/images/background/square-texture.svg"),url("../public/images/background/section-bg-four.png");
  /* Apply different properties for each background image */
  // background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
  // background-size: auto, cover; /* First image uses default size, second covers */
  // background-position: top left, center; /* Position for the first and second image */

  background-image: url("../public/images/background/section-bg-four.png");
  background-repeat: no-repeat;  background-size: cover;background-position: center;

}
.faq-section{
  // background-image: url("../public/images/background/square-texture.svg"),url("../public/images/background/section-bg-three.png");
  // /* Apply different properties for each background image */
  // background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
  // background-size: auto, cover; /* First image uses default size, second covers */
  // background-position: top left, center; /* Position for the first and second image */

  
  background-image: url("../public/images/background/section-bg-three.png");
  background-repeat: no-repeat;  background-size: cover;background-position: center;
}

.cta-section{
  // background-image: url("../public/images/background/square-texture.svg"),url("../public/images/background/section-bg-five.png");
  // /* Apply different properties for each background image */
  // background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
  // background-size: auto, cover; /* First image uses default size, second covers */
  // background-position: top left, center; /* Position for the first and second image */
  background-image: url("../public/images/background/section-bg-five.png");
  background-repeat: no-repeat;  background-size: cover;background-position: center;
}
.services-section{
  // background-image: url("../public/images/background/square-texture.svg"),url("../public/images/background/section-bg-two.png");
  // background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
  // background-size: auto, cover; /* First image uses default size, second covers */
  // background-position: top left, center; /* Position for the first and second image */
  background-image: url("../public/images/background/section-bg-two.png");
  background-repeat: no-repeat;  background-size: cover;background-position: center;
}


.myname {
  background: #7c3aed;
  background: linear-gradient(to right, #7c3aed 10%, #ff6347 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.mySwiper {
  width: 80%;
  height: 400px;
  margin-left: 0 !important;
  @media screen and (max-width:768px) {
    margin-left: auto !important; width: 90%;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    overflow: hidden;
  }
  // .swiper-slide:not(:first-child){
  //   background-color: rgba(209, 209, 209, 0.247);
  // }

  // .swiper-slide:nth-child(1n) {
  //   background-color: rgb(206, 17, 17);
  // }

  // .swiper-slide:nth-child(2n) {
  //   background-color: rgb(0, 140, 255);
  // }

  // .swiper-slide:nth-child(3n) {
  //   background-color: rgb(10, 184, 111);
  // }

  // .swiper-slide:nth-child(4n) {
  //   background-color: rgb(211, 122, 7);
  // }

  // .swiper-slide:nth-child(5n) {
  //   background-color: rgb(118, 163, 12);
  // }

  // .swiper-slide:nth-child(6n) {
  //   background-color: rgb(180, 10, 47);
  // }

  // .swiper-slide:nth-child(7n) {
  //   background-color: rgb(35, 99, 19);
  // }

  // .swiper-slide:nth-child(8n) {
  //   background-color: rgb(0, 68, 255);
  // }

  // .swiper-slide:nth-child(9n) {
  //   background-color: rgb(218, 12, 218);
  // }

  // .swiper-slide:nth-child(10n) {
  //   background-color: rgb(54, 94, 77);
  // }
}

.notfound{
  height: calc(100vh - 180px);
}

// Keyframes
.shakeRotate {
  animation: shakeRotate 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
    infinite;
  transform-origin: center;
}

@keyframes shakeRotate {
  10%,
  90% {
    transform: rotate(-2deg);
  }
  20%,
  80% {
    transform: rotate(4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(-8deg);
  }
  40%,
  60% {
    transform: rotate(8deg);
  }
}

.portfolioSwiper {
  .swiper-slide-next + .swiper-slide::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255) !important;
    background: linear-gradient(
      270deg,
      rgb(255 255 255) 40%,
      rgb(255 255 255 / 13%) 99%
    ) !important;
    z-index: 9;
  }
}

/* Dark Mode Gradient */
.dark .portfolioSwiper .swiper-slide-next + .swiper-slide::after {
  background: linear-gradient(270deg, rgb(2 6 23) 40%, rgb(2 6 23 / 10%) 99%) !important;
}

.testimonialSwiper {
  position: relative;
  .swiper-slide-next::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255) !important;
    background: linear-gradient(
      270deg,
      rgb(255 255 255) 40%,
      rgb(255 255 255 / 13%) 99%
    ) !important;
    z-index: 9;
  }
}
.dark .testimonialSwiper .swiper-slide-next::after {
  background: linear-gradient(270deg, rgb(2 6 23) 40%, rgb(2 6 23 / 10%) 99%) !important;
}

.menu-sec-container{
  // background-image: url("../public/images/background/square-texture.svg"),url("../public/images/background/section-bg-four.png");
  /* Apply different properties for each background image */
  // background-repeat: repeat, no-repeat; /* First image repeats, second doesn't */
  // background-size: auto, cover; /* First image uses default size, second covers */
  // background-position: top left, center; /* Position for the first and second image */

  background-image: url("../public/images/background/section-bg-four.png");
  background-repeat: no-repeat;  background-size: cover;background-position: center;
}


.drone {
  animation: float 15s ease-in-out infinite;
}
.rotateInfinite{
  animation: rotateInfinite 5s linear infinite;
}

// Key Frames
@keyframes float {
  0% {
    transform: translate(0);
}

25% {
    transform: translate(100px, -50px);
}
50% {
    transform: translate(200px);
}
75% {
    transform: translate(100px, 50px);
}
100% {
    transform: translate(0);
}
}


@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}